<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPPepas.Properties.Settings.pepas_finalConnectionString"
            connectionString="Data Source=kuke;Initial Catalog=pepas_final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>